body{
    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
}
.container{
    width: 480px;
    margin: 320px auto;
}



button{
    width: 480px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(35, 248, 35);
    font-size: 20px;
    font-weight: 100;
    margin-top: 120px;
    border-radius: 10px;
}

button:hover{
    background-color: white;
    color: black;
    transition: 1s;
    cursor: pointer;
}

 @keyframes buttonStart {
     0% { opacity: 1; }
     50% { opacity: 0.5; }
     100% { opacity: 0; }
 }

button {
   animation: buttonStart 1.5s linear infinite;
}